/* CSS Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 150vh;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to bottom, #175d69 23%, #330c43 95%); */
  background: url("../images/cyborg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.hero-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid rgb(95, 104, 122);
  border-radius: 8px;
  padding: 50px;
}

.hero-section {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 150px 20px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 11% auto;
  color: #fff;
}

.hero-section .hero {
  max-width: 50%;
  color: #fff;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c9c7c7;
  border-radius: 5px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Pievienots ēnojums */
}

.hero-section .img-slider {
  position: relative;
  width: 400px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
}

.hero-section .img-slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
}

.hero-section .img-slider .slide.active {
  opacity: 1;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47b2e4;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}

/* Адаптивные стили для устройств до 730px */
@media screen and (max-width: 730px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .hero-section .img-slider {
    width: 100%;
  }
}

/* Адаптивные стили для планшетов до 1023px */
@media screen and (max-width: 1023px) {
  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero-section .img-slider {
    display: none;
  }
}
